{{#if resume.certificates.length}}
<div class="container certificates-container">
    {{> title value="Certificates"}} {{#each resume.certificates}}
    <section class="item">
        {{> section-header name=this.name }}

        <h4>{{#if issuer}}{{issuer}}{{/if}}</h4>
        
    </section>
    {{/each}}
</div>
{{/if}}