{{#if resume.languages.length}}
    <div class="container languages-container">
        {{> title value="Languages"}}

        <ul class="minimal">
            {{#each resume.languages}}
                <li>
                    <h6>{{{markdownToHtml language}}} {{#if fluency}}<em>({{{markdownToHtml fluency}}})</em>{{/if}}</h6>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
