{{#if resume.relevantCoursework.length}}
<div class="container relevant-coursework-container">
  {{> title value="Relevant Coursework"}}
  <section class="item">
        <ul class="two-column">
            {{#each resume.relevantCoursework}}
            <li>{{{markdownToHtml .}}}</li>
            {{/each}}
        </ul>
  </section>
</div>
{{/if}}
